
ollama
langchain
langchain_community
langchain_milvus
langchain_huggingface 
huggingface_hub
pymilvus
pymilvus.model
pytest
pytest-cov
termcolor
beautifulsoup4
langchain_core
langchain_ollama
langchain_community
langchain-text-splitters
langchain_openai
gradio
bs4
wget
numpy
matplotlib
seaborn
pandas
scikit-learn
milvus-cli
pypdf
asyncio
streamlit
torch
sentence-transformers
huggingface_hub[hf_xet]
mcp-server-milvus
requests
html5lib
beautifulsoup4
